.vis-color-legend {
  font-size: var(--fs-xs);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vis-color-legend .legend-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.vis-color-legend .legend-item__swatch {
  margin-right: 0.5rem;
}

.vis-color-legend .legend-item__label {
  color: var(--color-text-light);
}
